/* Assigning Source Code Pro */
@font-face {
    font-family: "Source Code Pro";
    src: url("../Fonts/SourceCodePro-Black.otf");
    src: url("../Fonts/SourceCodePro-BlackIt.otf");
    src: url("../Fonts/SourceCodePro-Bold.otf");
    src: url("../Fonts/SourceCodePro-BoldIt.otf");
    src: url("../Fonts/SourceCodePro-ExtraLight.otf");
    src: url("../Fonts/SourceCodePro-ExtraLightIt.otf");
    src: url("../Fonts/SourceCodePro-It.otf");
    src: url("../Fonts/SourceCodePro-Light.otf");
    src: url("../Fonts/SourceCodePro-LightIt.otf");
    src: url("../Fonts/SourceCodePro-Medium.otf");
    src: url("../Fonts/SourceCodePro-MediumIt.otf");
    src: url("../Fonts/SourceCodePro-Regular.otf");
    src: url("../Fonts/SourceCodePro-Semibold.otf");
    src: url("../Fonts/SourceCodePro-SemiboldIt.otf");
}
/* Assigning Josefin Slab */
@font-face {
    font-family: "Josefin Slab";
    src: url("../Fonts/JosefinSlab-Bold.ttf");
    src: url("../Fonts/JosefinSlab-BoldItalic.ttf");
    src: url("../Fonts/JosefinSlab-Italic.ttf");
    src: url("../Fonts/JosefinSlab-Light.ttf");
    src: url("../Fonts/JosefinSlab-LightItalic.ttf");
    src: url("../Fonts/JosefinSlab-Regular.ttf");
    src: url("../Fonts/JosefinSlab-SemiBold.ttf");
    src: url("../Fonts/JosefinSlab-SemiBoldItalic.ttf");
    src: url("../Fonts/JosefinSlab-Thin.ttf");
    src: url("../Fonts/JosefinSlab-ThinItalic.ttf");
}
/* Configurations */
:root {
    /* Declaration of variables */
    --sourceCodePro: "Source Code Pro";
    --josefinSlab: "Josefin Slab";
    --color1: rgb(128, 128, 128);
    --color2: rgb(255, 255, 255);
    --color3: rgba(255, 255, 255, 0.5);
    --color4: rgb(115, 115, 115);
    --fontSize: 100%;
    --vertical: 100%;
    --horizontal: 100%;
    --opacity: 100%;
    --height: 768px;
    /* HTML Styling configurations */
    font-family: sans-serif;
    font-size: var(--fontSize);
    margin: calc(var(--horizontal) * 0);
    background-color: var(--color1);
}
body {
    margin: calc(var(--horizontal) * 0);
}
header {
    width: var(--horizontal);
    display: flex;
    background-color: var(--color4);
}
header #companyLogo,
header nav {
    width: calc(var(--horizontal) / 2);
}
header #companyLogo {
    text-align: center;
}
header #companyLogo img {
    height: calc(var(--height) * 0.03645);
    width: auto;
    opacity: calc(var(--opacity) * 0.5);
}
header #companyLogo img:hover {
    opacity: var(--opacity);
}
header nav {
    width: var(--horizontal);
    display: flex;
    padding: calc(var(--horizontal) * 0);
}
header nav div {
    width: calc(var(--horizontal) / 2);
    text-align: center;
}
header nav div a {
    text-decoration: none;
    color: var(--color3);
    font-size: calc(var(--fontSize) * 1.46);
    font-family: var(--sourceCodePro);
    font-weight: bold;
}
header nav div a:hover {
    color: var(--color2);
}
main {
    width: var(--horizontal);
}
main h1 {
    font-family: var(--josefinSlab);
    font-size: calc(var(--fontSize) * 2);
    font-weight: bold;
    text-align: center;
    color: var(--color2);
}
main #data {
    width: var(--horizontal);
    display: flex;
}
main #data #profilePicture {
    width: calc(var(--horizontal) / 2 * 0.43046721);
}
main #data #memberData {
    width: calc(var(--horizontal) / 2 * 2.14358881);
}
main #data #profilePicture img {
    width: calc(var(--horizontal) / 3);
    margin: calc(var(--vertical) * 0) calc(var(--horizontal) / 3);
    height: auto;
}
main #data #memberData #name,
main #data #memberData #role,
main #data #memberData #description {
    width: var(--horizontal);
    display: flex;
}
main #data #memberData #name h1,
main #data #memberData #role h1,
main #data #memberData #description h1 {
    font-size: calc(var(--fontSize) * 1.62);
    color: var(--color2);
    font-weight: bold;
    text-align: left;
}
main #data #memberData #name #label,
main #data #memberData #role #label,
main #data #memberData #description #label {
    font-family: var(--sourceCodePro);
    width: calc(var(--horizontal) / 2 * 0.43046721);
}
main #data #memberData #name #person,
main #data #memberData #role #person,
main #data #memberData #description #person {
    font-family: var(--josefinSlab);
    width: calc(var(--horizontal) / 2 * 2.14358881);
}
footer {
    margin-top: calc(var(--vertical) * 0.03);
}
footer #contactDetails {
    width: var(--horizontal);
    background-color: var(--color4);
}
footer #contactDetails h1 {
    font-size: calc(var(--fontSize) * 2);
    text-align: center;
    font-family: var(--sourceCodePro);
    color: var(--color2);
    margin: calc(var(--vertical) * 0);
}
footer #contactDetails #contactDetailsBar {
    width: var(--horizontal);
    display: flex;
}
footer #contactDetails #contactDetailsBar div {
    width: calc(var(--horizontal) / 3);
    display: flex;
    padding: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0.01);
}
footer #contactDetails #contactDetailsBar div h4 {
    margin: 0;
    font-family: var(--sourceCodePro);
    font-size: calc(var(--fontSize) * 1.18);
    color: var(--color2);
}
footer #contactDetails #contactDetailsBar div a {
    font-family: var(--sourceCodePro);
    font-size: calc(var(--fontSize) * 1.18);
    text-decoration: none;
    color: var(--color3);
}
footer #contactDetails #contactDetailsBar div a:hover {
    color: var(--color2);
}
footer #socialNetworkServicesBar {
    width: var(--horizontal);
    justify-content: center;
    display: flex;
}
footer #socialNetworkServicesBar a {
    font-size: calc(var(--fontSize) * 2);
    margin: calc(var(--vertical) * 0.0025) calc(var(--horizontal) * 0);
}
footer #socialNetworkServicesBar a .faFacebook {
    color: var(--color3);
}
footer #socialNetworkServicesBar a .faFacebook:hover {
    color: var(--color2);
}
footer #copyright {
    text-align: center;
    font-size: var(--fontSize);
    font-family: var(--sourceCodePro);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color2);
}
@media only screen and (max-width: 360px) {
    header #companyLogo img {
        opacity: var(--opacity);
    }
    header nav div a {
        color: var(--color2);
        font-size: calc(var(--fontSize) * 1.46 * 0.6561);
    }
    header nav div a:hover {
        text-decoration: underline;
    }
    main #data #profilePicture {
        width: calc(var(--horizontal) / 2 * 0.6561);
    }
    main #data #memberData {
        width: calc(var(--horizontal) / 2 * 1.4641);
    }
    main #data #memberData #name h1,
    main #data #memberData #role h1,
    main #data #memberData #description h1 {
        font-size: calc(var(--fontSize) * 1.62 * 0.4782969);
    }
    main #data #memberData #name #label,
    main #data #memberData #role #label,
    main #data #memberData #description #label {
        width: calc(var(--horizontal) / 2 * 0.81);
    }
    main #data #memberData #name #person,
    main #data #memberData #role #person,
    main #data #memberData #description #person {
        width: calc(var(--horizontal) / 2 * 1.21);
    }
    footer {
        margin-top: calc(var(--vertical) * 0);
    }
    footer #contactDetails #contactDetailsBar {
        display: block;
    }
    footer #contactDetails #contactDetailsBar div {
        width: var(--horizontal);
    }
    footer #contactDetails #contactDetailsBar div h4,
    footer #contactDetails #contactDetailsBar div a {
        font-size: calc(var(--fontSize) * 1.18 * 0.81);
        color: var(--color2);
    }
    footer #contactDetails #contactDetailsBar div a:hover {
        text-decoration: underline;
    }
    footer #socialNetworkServicesBar a .faFacebook {
        color: var(--color2);
    }
}
@media only screen and (max-width: 640px) {
    header #companyLogo img {
        opacity: var(--opacity);
    }
    header nav div a {
        color: var(--color2);
    }
    header nav div a:hover {
        text-decoration: underline;
    }
    main #data #profilePicture {
        width: calc(var(--horizontal) / 2 * 0.531441);
    }
    main #data #memberData {
        width: calc(var(--horizontal) / 2 * 1.771561);
    }
    main #data #memberData #name h1,
    main #data #memberData #role h1,
    main #data #memberData #description h1 {
        font-size: calc(var(--fontSize) * 1.62 * 0.4782969);
    }
    main #data #memberData #name #label,
    main #data #memberData #role #label,
    main #data #memberData #description #label {
        width: calc(var(--horizontal) / 2 * 0.4782969);
    }
    main #data #memberData #name #person,
    main #data #memberData #role #person,
    main #data #memberData #description #person {
        width: calc(var(--horizontal) / 2 * 1.9487171);
    }
    footer {
        margin-top: calc(var(--vertical) * 0);
    }
    footer #contactDetails #contactDetailsBar {
        display: block;
    }
    footer #contactDetails #contactDetailsBar div {
        width: var(--horizontal);
    }
    footer #contactDetails #contactDetailsBar div h4,
    footer #contactDetails #contactDetailsBar div a {
        color: var(--color2);
    }
    footer #contactDetails #contactDetailsBar div a:hover {
        text-decoration: underline;
    }
    footer #socialNetworkServicesBar a .faFacebook {
        color: var(--color2);
    }
}
